<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li>About Us</li>
  <li>Areas of Work</li>
  <li>Services We Provide</li>
  <li>News & Events</li>
  <li>Bookstore & Resources</li>
</ul>

<!-- 
  <% AreaOfWork.categories.each do |category| %>
  <%= link_to category.title, item_path(category) %>
  <% end %> 
-->